body {
 background-color: #EEFFEF;
 font-family: serif;

}
h1 {
 color: #416B43;
 font-size:350%;
 font-family: serif;
 text-align: left;
 padding-left: 5px;
}
p {
 font-family: serif;
 font-size: 125%;
 line-height: 1.5;
 text-align: left;
 padding-left: 15px;
 padding-right: 15px;
}

img {
  padding: 10px;
  width: 75%;
}

img.link {
  width: 3%;
}

/*header style*/
header {
   color: #8CEC91;
   font-family: serif;
   text-align: center;
   padding: 20px;
}

.column {
    float: left;
    width: 50%;
}

/*navigation menu style*/
nav {
   text-align: center;
   word-spacing: 30px;
   padding: 10px;
}
/*creating the two-column layout*/
*{
   box-sizing: border-box;
}
.row {
   display: flex;
   flex-wrap: wrap;
}
.post-text-box {
   flex: 70%;
   padding-left: 30px;
}
.profile {
   flex: 70%;
   padding: 20px;
}
/*profile image and heading style*/
.profile img {
   display: block;
   padding:10px;
}
.profile h1 {
   text-align: center;
}

.post-text-box h1 {
  color: #416B43;
  font-size:350%;
  font-family: serif;
  text-align: left;
  padding-left: 5px;
}
